
.square_outside {
    width: 74%;
    float: right;
    margin: 20px 0;
}

.content .table {
    display: table;
    width: 100%;
    text-align: center;
}

.content .table .thead {
    font-size: 20px;
    color: #5a5a5a;
    display: table-header-group;
    background-color: #e1e1e1;
}

.content .table .tbody {
    display: table-row-group;
    font-size: 25px;
    font-weight: bold;
    color: #118673;
}

.content .table .tr {
    display: table-row;
}

.content .table .th,
.content .table .td {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
}

.content .table .td {
    width: 19%;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #b0b0b0;
}

.content .table .tr .td:nth-child(1) {
    width: 5%;
    color: #5a5a5a;
    border-left-style: solid;
    border-width: 2px;
    border-color: #b0b0b0;
}

.content .thead .tr:nth-child(1) .td {
    border-top-style: solid;
    border-bottom-style: none;
    border-width: 2px;
    border-color: #b0b0b0;
}

.content .table .tr .td:nth-child(4) span:nth-child(2),
.content .table .tr .td:nth-child(6) span:nth-child(2) {
    color: #acacac;
    font-weight: normal;
}
